.password-wrapper { 
    margin-bottom: 1rem;width: 80%;
    display: flex;
    flex-direction: column;
    margin:30px auto;
    padding:30px;
    background: #fafafa;
    border:solid 1px #ddd;
    border-radius:5px;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.03);
    box-sizing:border-box;
    animation: fadeIn 500ms ease-in-out;
}

.password-wrapper label { 
    text-align: center;
}

.page-password { 
    padding:10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    border: solid 1px #ddd; 
}

.password-wrapper button {
    border: none;
    background: #222;
    color:#fff;
    width: 50%;
    padding: 0.5rem;
    margin: 0 auto;
}

.password-error { 
    color:red; margin-top:5px; text-align: center;
}

@keyframes fadeIn {
    
    from{opacity: 0;
    transform:translate(0,-40px)}
    to{
        opacity: 1;
        transform:translate(0,0);
    }
}